header {
    background-color: darkslateblue;
    color: lemonchiffon;
    text-align: center;
    font-family: fantasy;
    
    }

main{
    background-color: lightgray;
    padding: 1em;
    }

body{
    background-image: url("./record.png") ;
    background-repeat: repeat;
    margin: 0%;
}    